@using StarBlog.Contrib.Extensions
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 py-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/images/bootstrap/bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                 width="700" height="500" loading="lazy">
            @* <div id="word_cloud" style="width: 100%; height: 200px;"></div> *@
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">DealiAxy's Blog</h1>
            <div class="lead">
                <p>一句诗：{{poemSimple}}</p>
                <p>一言：{{hitokoto.hitokoto}}</p>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary btn-lg px-4 me-md-2" asp-controller="Blog" asp-action="RandomPost">看文</a>
                <a class="btn btn-outline-secondary btn-lg px-4">看图</a>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-3" id="custom-cards">
    <h2 class="pb-2 border-bottom">Photography</h2>

    @if (Model.FeaturedPhotos.Count > 0) {
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            @foreach (var photo in Model.FeaturedPhotos) {
                <div class="col">
                    <partial name="Widgets/PhotoSmall" model="photo"/>
                </div>
            }
        </div>
    }
</div>

<div class="container px-4 py-3" id="featured-3">
    <h2 class="pb-2 border-bottom">Blog Categories</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        @foreach (var fc in Model.FeaturedCategories) {
            @await Html.PartialAsync("Widgets/FeaturedCategoryCard", fc)
        }
    </div>
</div>

<div class="container px-4 py-3">
    <h2 class="pb-2 border-bottom">Blog Posts</h2>

    @if (Model.TopPost != null) {
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <div class="display-6 fst-italic">@Model.TopPost.Title</div>
                <p class="lead my-3">@Model.TopPost.Summary</p>
                <p class="lead mb-0">
                    <a class="text-white fw-bold"
                       asp-controller="Blog" asp-action="Post" asp-route-id="@Model.TopPost.Id">
                        Continue reading...
                    </a>
                </p>
            </div>
        </div>
    }
    else {
        <div class="card mb-4">
            <div class="card-header">置顶博客</div>
            <div class="card-body">
                <h3>虚位以待~</h3>
            </div>
        </div>
    }


    @if (Model.FeaturedPosts.Count > 0) {
        @foreach (var row in Model.FeaturedPosts) {
            <div class="row mb-2">
                @foreach (var post in row) {
                    <div class="col-md-6">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary">@post.Category.Name</strong>
                                <h5 class="mb-0">@post.Title</h5>
                                <div class="mb-1 text-muted">@post.LastUpdateTime.ToShortDateString()</div>
                                <p class="card-text mb-auto">@post.Summary.Limit(50)</p>
                                <a class="stretched-link"
                                   asp-controller="Blog" asp-action="Post" asp-route-id="@post.Id">
                                    Continue reading
                                </a>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <img class="bd-placeholder-img" src="https://picsum.photos/seed/@post.Id/200/250" alt="">
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
    else {
        <div class="card mb-2">
            <div class="card-header">推荐博客</div>
            <div class="card-body">
                <h3>虚位以待~</h3>
            </div>
        </div>
    }
</div>

@section bottom {
    <script src="~/js/home.js"></script>
}