@model StarBlog.Web.ViewModels.Search.SearchResultViewModel


@{
    ViewData["Title"] = $"{Model.Keyword} - 搜索结果";
}

<div class="container px-4 py-3">
    <h2 class="d-flex w-100 justify-content-between pb-2 mb-3 border-bottom">
        <div>@Model.Keyword - 搜索结果</div>
        <div>共 @Model.SearchPosts.Count.ToString() 篇文章</div>
    </h2>

    <div>
        @if (Model.SearchPosts.Count == 0) {
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/codelab.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">没有结果</h5>
                        <p class="card-text">No result.</p>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">返回主页</a>
                    </div>
                </div>
            </div>
        }
        @foreach (var item in Model.SearchPosts) {
            <div class="card mb-3">
                <div class="card-header">
                    @item.Post.Category.Name
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Html.Raw(item.HighlightedTitle)</h5>
                    <p class="card-text small">
                        @Html.Raw(item.HighlightedSnippet)
                    </p>
                    @if (!string.IsNullOrWhiteSpace(item.Post.Slug)) {
                        <a class="btn btn-outline-secondary stretched-link" href="/p/@item.Post.Slug">
                            查看全文
                        </a>
                    }
                    else {
                        <a class="btn btn-outline-secondary stretched-link"
                           asp-controller="Blog" asp-action="Post" asp-route-id="@item.Post.Id">
                            查看全文
                        </a>
                    }
                </div>
            </div>
        }
    </div>
</div>